@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Cuisine

<h4>Add a new category of cuisine</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <br>
    <br>
    <input type="submit" value="Add new cuisine" class=btn />
}