
@{
  Layout = "_Layout";
}

@using BestRestaurants.Models;

<h2>Search Results:</h2>

@foreach(Restaurant rest in Model)
{
   <h3><li>@Html.ActionLink($"{rest.Name}", "Details", "Restaurants", new {id = rest.RestaurantId})</li></h3>
}