<img src='~/img/BR-Header.JPG' alt="Best Resstaurants Header" margin="0 auto" height="auto" width="100%" style="border: 5px double black">
  <br>
  <br>
  <div id="navBar">
    <ul class="nav nav-tabs animated bounceInDown">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation"><a href="/restaurants">Restaurants</a></li>
      <li role="presentation"><a href="/cuisines">Cuisine Types</a></li>
    </ul>
  </div>